---
import Layout from '@layouts/Layout.astro';
import { Image } from "astro:assets";
import ameer from "@assets/images/ameer.jpg";
import { Mission, LearnMore } from './_components';
---

<Layout>
	<main class="bg-black h-screen flex flex-col justify-center items-center">
    <div id="ameer-area" class="flex flex-col justify-center items-center mx-auto absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
      <Image src={ameer} alt="Ameer" class="rounded-full p-5 w-[25rem] max-w-[90vw] h-auto" />
      <h1 class="text-white text-5xl font-bold text-center p-2">Hi, I'm Ameer</h1>

      <div class="absolute bottom-[-105%] h-full">
        <Mission client:load />
        <br />
        <LearnMore client:load />
      </div>
    </div>

    <div class="mt-4 absolute top-[70vh]">

    </div>
	</main>
</Layout>
